body {
    background: linear-gradient( to left, rgb(13, 56, 117) 0%, rgb(8, 19, 90) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

p {
    color: white;
    font-weight: 500;
}

.BigFont {
    font-size: 2rem;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    outline: none;
    width: 200px;
    min-height: 53px;
    padding: 5px 5px 5px 10px;
    font-size: 1.2rem;
    border-radius: 12px;
}

input:focus {
    border: solid 2px #3d5ec0;
    outline: #89a4f3;
}